@model IList<UTB.Restaurace.Domain.Entities.Reservation>

@{
    ViewData["Title"] = "My Reservations";
    var reserveMeals = ViewBag.ReserveMeals as List<UTB.Restaurace.Domain.Entities.ReserveMeal>;
}

<h2>My Reservations</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Reservation Date
            </th>
            <th class="text-alignment">
                Total Price
            </th>
            <th class="text-alignment">
                Status
            </th>
            <th>
                Items
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => reservation.ReservationDate)
                </td>
                <td class="text-alignment">
                    @Html.DisplayFor(modelItem => reservation.TotalPrice) CZK
                </td>
                <td class="text-alignment">
                    @Html.DisplayFor(modelItem => reservation.Status)
                </td>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 55%;">Meal</th>
                                <th class="text-alignment">Quantity</th>
                                <th class="text-alignment">Combined Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var meal in reserveMeals.Where(m => m.ReservationID == reservation.Id))
                            {
                                <tr>
                                    <td>@meal.Meal.Name</td>
                                    <td class="text-alignment">@meal.Amount</td>
                                    <td class="text-alignment">@meal.Price CZK</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Styles {
    <style>
        .text-alignment {
            text-align: center;
        }

    </style>
}