@model IList<Meal>

@{
    ViewData["Title"] = "Menu";
    var categoryDisplayNames = new Dictionary<string, string>
    {
        { "polévka", "Soups" },
        { "hlavní jídlo", "Main Courses" },
        { "dezert", "Desserts" }
    };
    var unavailableMeals = Model.Where(m => !m.Available).OrderBy(m => m.Name).ToList();

}

<div class="text-center">
    <h1 class="display-4">Restaurace Menu</h1>
</div>

@if (Model != null && Model.Count > 0)
{
    @foreach (var category in categoryDisplayNames.Keys)
    {

        var itemsInCategory = Model.Where(m => m.Category == category && m.Available).OrderBy(m => m.Name).ToList();

        if (itemsInCategory.Any())
        {
            <h1 style="font-size: 64px; font-weight: bold">@categoryDisplayNames[category]</h1>
            <div>
                @foreach (var meal in itemsInCategory)
                {
                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                        <div>
                            <h3>@meal.Name</h3>
                            <p>@meal.Description</p>
                            <p>Price: @meal.Price CZK</p>
                        </div>
                        <img src="@meal.ImageSrc" alt="@meal.Name" style="width: 150px; height: auto;" />
                    </div>
                }
            </div>
        }
    }
    @if (unavailableMeals.Any()) {
        <h2 style="font-size: 44px; font-weight: 500; margin-top:100px;">Items that are not available</h2>
        @foreach (var category in categoryDisplayNames.Keys)
        {
            var unavailableMealsWithCat = Model.Where(m => m.Category == category && !m.Available).OrderBy(m => m.Name).ToList();
            if (unavailableMealsWithCat.Any())
            {
                <h3 style="font-size: 36px; font-weight: 500; margin-top: 20px; color: gray;">@categoryDisplayNames[category]</h3>
                <div>
                    @foreach (var meal in unavailableMealsWithCat)
                    {
                        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; color: gray;">
                            <div>
                                <h4>@meal.Name</h4>
                                <p>@meal.Description</p>
                                <p>Price: @meal.Price CZK</p>
                            </div>
                            <img src="@meal.ImageSrc" alt="@meal.Name" style="width: 150px; height: auto; opacity: 0.5;" />
                        </div>
                    }
                </div>
            }
        }

    }

}
else
{
    <p>No meals available!</p>
}
