@model IList<Meal>

@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1 class="display-4">Restaurace Menu</h1>
</div>

@if (Model != null && Model.Count > 0)
{
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            @foreach (var meal in Model)
            {
                <div class="mb-5">
                    <div class="card h-100">
                        <!-- Meal image -->
                        <img class="card-img-top" src="@meal.ImageSrc" alt="@meal.Name" style="max-width: 200px; max-height: 200px;" />
                        <!-- Meal details -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Meal name -->
                                <h5 class="fw-bolder">@meal.Name</h5>
                                <!-- Meal description -->
                                <p>@meal.Description</p>
                                <!-- Meal price -->
                                <p><strong>@meal.Price</strong> CZK</p>

                                <!-- Availability check -->
                                @if (meal.Available)
                                {
                                    <p class="text-success">Available</p>
                                }
                                else
                                {
                                    <p class="text-danger">Not Available</p>
                                }
                            </div>
                        </div>
                        <!-- Meal actions -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}
else
{
    <p>No meals available!</p>
}