@model IList<Meal>

@{
    ViewData["Title"] = "Menu";
    var categoryDisplayNames = new Dictionary<string, string>
    {
        { "polévka", "Polévky" },
        { "hlavní jídlo", "Hlavní jídla" },
        { "dezert", "Dezerty" }
    };
}

<div class="text-center">
    <h1 class="display-4">Restaurace Menu</h1>
</div>

@if (Model != null && Model.Count > 0)
{
    @foreach (var category in categoryDisplayNames.Keys)
    {
        var itemsInCategory = Model.Where(m => m.Category == category && m.Available).OrderBy(m => m.Name).ToList();

        if (itemsInCategory.Any())
        {
            <h1 style="font-size: 64px; font-weight: bold">@categoryDisplayNames[category]</h1>
            <div>
                @foreach (var meal in itemsInCategory)
                {
                    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
                        <div>
                            <h3>@meal.Name</h3>
                            <p>@meal.Description</p>
                            <p>Cena: @meal.Price Kč</p>
                        </div>
                        <img src="@meal.ImageSrc" alt="@meal.Name" style="width: 150px; height: auto;" />
                    </div>
                }
            </div>
        }
    }

    var unavailableMeals = Model.Where(d => !d.Available).OrderBy(d => d.Category).ThenBy(d => d.Name).ToList();
    if (unavailableMeals.Any())
    {
    <h2 style ="font-size: 44px; font-weight: 500">Nedostupná jídla</h2>
    <div>
        @foreach (var meal in Model.Where(m => !m.Available).OrderBy(m => m.Category).ThenBy(m => m.Name))
        {
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; color: gray;">
                <div>
                    <h3>@meal.Name</h3>
                    <p>@meal.Description</p>
                    <p>Cena: @meal.Price Kč</p>
                </div>
                <img src="@meal.ImageSrc" alt="@meal.Name" style="width: 150px; height: auto; opacity: 0.5;" />
            </div>
        }
    </div>
    }
}
else
{
    <p>No meals available!</p>
}
