@model IList<UTB.Restaurace.Domain.Entities.Reservation>

<h1>Reservations</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Creation Date</th>
            <th>Reservation Date</th>
            <th>Status</th>
            <th>Total Price</th>
            <th>UserID</th>
            <th>User Name</th>
            <th>ReservedMeals</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.Id</td>
                <td>@reservation.ReservationCreationTime</td>
                <td>@reservation.ReservationDate</td>
                <td>@reservation.Status</td>
                <td>@reservation.TotalPrice</td>
                <td>@reservation.UserId</td>
                <td>@reservation.UserName</td>

                <td>
                    <!-- Zobrazení rezervovaných jídel pro tuto rezervaci -->
                    <ul>
                        @foreach (var reserveMeal in reservation.ReserveMeals)
                        {
                            <li>Meal ID: @reserveMeal.MealId  - Name: @reserveMeal.Meal.Name - Amount: @reserveMeal.Amount - Price: @reserveMeal.Price</li>
                        }
                    </ul>
                </td>

                <td>
                    <div class="button-group">
                        <a asp-action="Delete" asp-route-id="@reservation.Id" onclick="return ConfirmDelete();" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@reservation.Id" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
        <script src="~/js/dialogs.js"></script>
    <script>
        // pridani scriptu pokud je potreba
    </script>

}

@section Styles {
    <style>
        .button-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    </style>
}