@model IList<Meal>
@{
    ViewData["Title"] = "Manage Meals";
    string currentSort = ViewData["CurrentSort"] as string ?? "";
    string sortDirection = ViewData["SortDirection"] as string ?? "asc";
}
<div class="d-flex justify-content-between align-items-center">
    <h1>@ViewData["Title"]</h1>
    <a asp-action="Create" class="lbutton cbutton">
        <i class="bi bi-plus-circle me-2"></i> Create Meal
    </a>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

@if (Model != null && Model.Count > 0)
{
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Select" asp-route-sortColumn="Id" asp-route-sortDirection="@(ViewData["CurrentSort"] as string == "Id" && ViewData["SortDirection"] as string == "asc" ? "desc" : "asc")">
                            @nameof(Meal.Id)
                            <i class="bi @(ViewData["CurrentSort"] as string == "Id" ? (ViewData["SortDirection"] as string == "asc" ? "bi-caret-down-fill" : "bi-caret-up-fill") : "bi-caret-right-fill")"></i>
                        </a>
                    </th>
                    <th style="width: 15%;">
                        @nameof(Meal.Name)
                    </th>
                    <th style="width: 40%;">
                        @nameof(Meal.Description)
                    </th>
                    <th>
                        <a asp-action="Select" asp-route-sortColumn="Price" asp-route-sortDirection="@(ViewData["CurrentSort"] as string == "Price" && ViewData["SortDirection"] as string == "asc" ? "desc" : "asc")">
                            @nameof(Meal.Price)
                            <i class="bi @(ViewData["CurrentSort"] as string == "Price" ? (ViewData["SortDirection"] as string == "asc" ? "bi-caret-down-fill" : "bi-caret-up-fill") : "bi-caret-right-fill")"></i>
                        </a>
                    </th>
                    <th>
                        @nameof(Meal.ImageSrc)
                    </th>
                    <th>
                        <a asp-action="Select" asp-route-sortColumn="Category" asp-route-sortDirection="@(ViewData["CurrentSort"] as string == "Category" && ViewData["SortDirection"] as string == "asc" ? "desc" : "asc")">
                            @nameof(Meal.Category)
                            <i class="bi @(ViewData["CurrentSort"] as string == "Category" ? (ViewData["SortDirection"] as string == "asc" ? "bi-caret-up-fill" : "bi-caret-down-fill") : "bi-caret-right-fill")"></i>
                        </a>
                    </th>
                    <th>
                        <a asp-action="Select" asp-route-sortColumn="Available" asp-route-sortDirection="@(ViewData["CurrentSort"] as string == "Available" && ViewData["SortDirection"] as string == "asc" ? "desc" : "asc")">
                            @nameof(Meal.Available)
                            <i class="bi @(ViewData["CurrentSort"] as string == "Available" ? (ViewData["SortDirection"] as string == "asc" ? "bi-caret-down-fill" : "bi-caret-up-fill") : "bi-caret-right-fill")"></i>
                        </a>
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>


            <tbody>
                @foreach (var meal in Model)
                {
                    <tr>
                        <th scope="row">@meal.Id</th>
                        <td class="left-align">@meal.Name</td>
                        <td class="left-align">@meal.Description</td>
                        <td>@meal.Price CZK</td>
                        <td>
                            <img src="@meal.ImageSrc" alt="Meal Image" style="max-width: 100px; max-height: 100px;" />
                        </td>
                        <td>@meal.Category</td>
                        <td>
                            <form asp-action="ToggleAvailability" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@meal.Id" />
                                <input type="checkbox" name="available" value="true" @(meal.Available ? "checked" : "") onclick="return ConfirmToggleAvailability(this);" />
                            </form>
                        </td>
                        <td>
                            <div class="button-group">
                                <a asp-action="Delete" asp-route-id="@meal.Id" onclick="return ConfirmDelete();" class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i>
                                </a>
                                <a asp-action="Edit" asp-route-id="@meal.Id" class="btn btn-warning btn-sm">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Meals table is empty!</p>
}


@section Scripts
{
    <script src="~/js/dialogs.js"></script>
    <script>
        function ConfirmToggleAvailability(checkbox) {
            var confirmed = confirm("Are you sure you want to change the availability?");
            if (confirmed) {
                checkbox.form.submit();
            } else {
                checkbox.checked = !checkbox.checked;
            }
            return false;
        }
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin-select.css" />
}