@model IList<Meal>
@{
    ViewData["Title"] = "Meal Administration";
}
<h1>@ViewData["Title"]</h1>

<a asp-action="Create">Create Meal</a>

@{
    if (Model != null && Model.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@nameof(Meal.Id)</th>
                    <th scope="col">@nameof(Meal.Name)</th>
                    <th scope="col">@nameof(Meal.Description)</th>
                    <th scope="col">@nameof(Meal.Price)</th>
                    <th scope="col">@nameof(Meal.ImageSrc)</th>
                    <th scope="col">@nameof(Meal.Category)</th>
                    <th scope="col">@nameof(Meal.Available)</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; ++i)
                {
                    Meal meal = Model[i];
                    <tr>
                        <th scope="row">@meal.Id</th>
                        <td>@meal.Name</td>
                        <td>@meal.Description</td>
                        <td>@meal.Price</td>
                        <td><img src="@meal.ImageSrc" alt="Meal Image" style="max-width: 100px; max-height: 100px;" /></td>
                        <td>@meal.Category</td>
                        <td>
                            <form asp-action="ToggleAvailability" method="post" style="display:inline;">
                                <input type="hidden" name="id" value="@meal.Id" />
                                <input type="checkbox" name="available" value="true" @(meal.Available ? "checked" : "") onclick="return ConfirmToggleAvailability(this);" />
                            </form>
                        </td>
                        <td><a asp-action="Delete" asp-route-id="@meal.Id" onclick="return ConfirmDelete();">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Meals table is empty!</p>
    }
}

@section Scripts
{
    <script src="~/js/dialogs.js"></script>
    <script>
        function ConfirmToggleAvailability(checkbox) {
            var confirmed = confirm("Are you sure you want to change the availability?");
            if (confirmed) {
                checkbox.form.submit();
            } else {
                checkbox.checked = !checkbox.checked;
            }
            return false;
        }
    </script>
}